body {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    background-color:tomato;
    color:white;
}

header {
    margin:auto;
    width:75%;
    text-align:center;
    font-size: 1.75em;
}

#clock {
    width:33%;
    margin:auto;
    text-align:center;
    display:grid;
    grid-template-columns: 50% 50%;
}

#clock_timepiece {
    grid-column: span 2;
    font-size:8em;
}

#clock a {
    display:block;
    text-decoration:none;
    font-size:3em;
    color:white;
    font-family: 'Segoe UI Symbol';
}

#clock_startOrPause {
    padding-right:5%;
    text-align:right;
}

#clock_reset {
    padding-left:5%;
    text-align:left;
}